.recentTransactions {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    height: 250px;

    .recentTransactionsContainer {
        padding: 1rem 2rem;
        height: 100%;
        position: relative;

        .heading {
            font-size: 1.5rem;
            font-weight: 600;
        }

        .body {
            height: 90%;

            .transactionsContainer {
                max-height: 83%;
                overflow-y: scroll;

                .transaction {
                    padding: 0.420rem;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    
                    .transactionContainer {
                        display: flex;
                        width: 100%;
    
                        .transactionInfo {
                            flex: 7;
                        }
    
                        .transactionAmount {
                            flex: 3;
                            text-align: right;
                        }
                    }
                }
            }

            h5 {
                font-size: 0.8rem;
                position: absolute;
                bottom: 5%;
            }
        }
    }
}