.currentFunds {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    height: 250px;

    .currentFundsContainer {
        padding: 1rem 2rem;
        height: 100%;
        position: relative;

        .heading {
            font-size: 1.5rem;
            font-weight: 600;
        }

        .body {
            height: 90%;

            h2 {
                &::before {
                    content: '₹';
                    padding-right: 0.1rem;
                }

                font-size: 4rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            h5 {
                font-size: 0.8rem;
                position: absolute;
                bottom: 5%;
            }
        }
    }
}